<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{var.name}}</title>
</head>
<body>
    <div style="text-align: center">
        <h3>you can see these also 'extra_ordinary_man','animal','kotabomalli','hi_nanna','gunture_karam','bhagavath_kesari'</h1>
        <img width=200 height=200 src={{var.img}} alt="image is not available">
        <h1>{{var.name}}</h1>
        <p>{{var.content}}</p>
    </div>
    
</body>
</html>