<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <button type="submit">Submit</button>-->
<!--</form>-->
<!--{% if messages %}-->
<!--    <ul class="messages">-->
<!--        {% for message in messages %}-->
<!--            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>-->
<!--        {% endfor %}-->
<!--    </ul>-->
<!--{% endif %}-->
<center><form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <!-- Display individual field errors -->
    {% for field in form %}

        {{ field.label_tag }}
        {{ field }} <br><br>
        {% for error in field.errors %}
           <h1> <span class="error">{{ error }}</span> </h1>
        {% endfor %}
    {% endfor %}
    <button type="submit">Submit</button>
</form></center>

</body>
</html>