<!DOCTYPE html>
{% extends "application/home.html" %}
{% block title_block %}
    animal movie page
{% endblock %}

{% block body_block %}
    <img width=200 height=200 src="/static/app1/images/animal.jfif" alt="image is not available">
    <p>A father, who is often away due to work, is unable to comprehend the intensity of his son's love. Ironically, this fervent love and admiration for his father and family creates conflict between the father and son.</p>
    <ul>
        <li><a href="/">back</a></li>
    </ul>
{% endblock %}
