<html>
    <head>
        <body style = "font-size: 16;color:aqua">
            <h1> Welcome to Aja people</h1>
            <p>Click on the below links whom you want to know about them</p>
            <ul>
                <a href="./nithisha"><li>Gujja Nithisha</li></a>
                <a href="./kalkuri"><li>Kalkuri sai kumar</li></a>
                <a href="./parasa"><li>Parasa Lakshmi kanth</li></a>
                <a href="./satish"><li>Kanamala satish</li></a>
                <a href="./haritha"><li>Aitha Haritha</li></a>
            </ul>
        </body>
    </head>
</html>