<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    

    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand" id="nav" href="#"><img class="img" src="/static/css/images/MicrosoftTeams-image%20(1).png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" id="nav" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="nav" href="/emp">add_employee</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="nav" href="/emp_details">empoyees</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="nav" href="/attendance">attendance_form</a>
            </li>

            
            <li class="nav-item">
              <a class="nav-link" id="nav" href="/attendance_details">attendance_details</a>
            </li>
            
            
           
            <!-- <li class="nav-item">
              <a class="nav-link disabled" id="nav" href="/attendance_details" tabindex="-1" aria-disabled="true">attendance_details</a>
            </li> -->

          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

{%block content%}
{%endblock%}



<nav id="n" class="navbar navbar-expand-lg navbar-light bg-dark">
  <h2 id="head">Thanks for visiting </h2>
  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <h2 id="head">Thanks for visiting </h2>
  </div> -->
</nav>


</body>
</html>