{%extends "app1/home.html"%}
{% block title %}
  Grimlock
{% endblock %}
{% block content %}
<a href="../">BACK</a>
<html>
  <body> 
    <h1>Grimlock</h1>
    <img width="300" height="300" src="\static\app1\images\grimlock.jpg">
    <p>Grimlock is the leader of the Dinobots. Grimlock can be merciless and contemptuous of those he considers beneath him, such as human beings,
      and at times his fellow Autobots . The character's initial sense of superiority was changed by the relationships he formed with Spike and 
      Wheelie, as he got to know them on a personal level and started to see them as equals.</p>
    </ul>
  </body>
</html>
{% endblock %}