<html>
  <head> 
    <title>
      {% block title %}
      Transformers
      {% endblock %}
    </title>
  </head>
  <body> 
    <h1>This site explains about Transformers</h1>
    <img width="200" height="200" src="\static\app1\images\logo.jpeg">
    <ul> 
      <li><a href="./prime">Optimus Prime</a></li>
      <li><a href="./bumblebee">Bumblebee</a></li>
      <li><a href="./megatron">Megatron</a></li>
      <li><a href="./grimlock">Grimlock</a></li>
      {% block content %}
      
      {% endblock %}
    </ul>
  </body>
</html>