{%extends "app1/home.html"%}
{% block title %}
  Megatron
{% endblock %}
{% block content %}
<a href="../">BACK</a>
<html>
  <body> 
    <h1>Megatron</h1>
    <img width="300" height="300" src="\static\app1\images\megatron.jpg">
    <p>Megatron is the founder of the Decepticon uprising and their most feared leader.
      Megatron is able to transform into a Walther P38, delivering more focused energy blasts than he could in his robotic form. 
      He can adjust his size and mass as he transforms, to comfortably allow another Transformer or even a human being to wield him. 
      His robot form has an arm-mounted fusion cannon. He can retract and replace his right hand with energy flail. 
      He can fire electrical blasts from his hands, laser blasts from his eyes, and can reprogram computers with a port in his head.</p>
    </ul>
  </body>
</html>
{% endblock %}