    <body>
            <table border="1">
                <tr>
                    <th>online_marks</th>
                    <th>online_status</th>
                    <th>online_feedback</th>
                    <th>tech_marks</th>
                    <th>tech_status</th>
                    <th>tech_feedback</th>
                    <th>comm_marks</th>
                    <th>comm_status</th>
                    <th>comm_feedback</th>
                    <th>is_selected</th>
                    <th>user_id</th> 
                    
                </tr>
        {% for i in res1 %}
        <tr>
        <td>
            <p>{{i.online_marks}}</p>
        </td>
        <td>
            <p>{{i.online_status}}</p>
        </td>
        <td>
            <p>{{i.online_feedback}}</p>
        </td>
        <td>  
            <p>{{i.tech_marks}}</p>
        </td>
        <td>  
            <p>{{i.tech_status}}</p>
        </td>
        <td>
            <p>{{i.tech_feedback}}</p>
        </td>
        <td>    
            <p>{{i.comm_marks}}</p>
        </td>
        <td>   
            <p>{{i.comm_status}}</p>
        </td>
        <td>    
            <p>{{i.comm_feedback}}</p>
        </td>
        <td>    
            <p>{{i.is_selected}}</p>
        </td>    
         <td>
            <p>{{i.user_id}}</p>
        </td>    
        
        
        </tr>
            {% endfor %}
        </table>
    </body>