<html>
    <head>
        <body>
            <form method="POST">
            {%csrf_token%}
            first_name:<input type="text" name="first_name"><br>
            last_name:<input type="text" name="last_name"><br>
            email_id:<input type="text" name="email_id"><br>
            phone_no:<input type="number" name="phone_no"><br>
            graduation:<input type="text" name="graduation"><br>
            graduation_stream:<input type="text" name="graduation_stream"><br>
            graduation_year:<input type="text" name="graduation_year"><br>
            post_graduation:<input type="text" name="post_graduation"><br>
            post_graduation_stream:<input type="text" name="post_graduation_stream"><br>
            post_graduation_year:<input type="text" name="post_graduation_year"><br>
            trained_on_technology:<input type="text" name="trained_on_technology"><br>
            institute_name:<input type="text" name="institute_name"><br>
            course_duration:<input type="text" name="course_duration"><br>
            reference_name:<input type="text" name="reference_name"><br>
            experience:<input type="text" name="experience"><br>
            experience_years:<input type="text" name="experience_years"><br>
            previous_company_name:<input type="text" name="previous_company_name"><br>
            current_ctc:<input type="text" name="current_ctc"><br>
            expected_ctc:<input type="text" name="expected_ctc"><br>
            pf:<input type="text" name="pf"><br>
            <input type="submit" value="submit" /> 
        </body>
    </head>
</html> 