{% extends 'base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aspirant form</title>
</head>

<body>
    {% block content %}
    <center>
    <div class="container">
    <div class="row">
    <div class="col-sm-8">
    <form action="" method="post" novalidate>
        
            {% csrf_token %}
            {{form.as_p}}
        
        <button type="submit" class="btn btn-success">Update</button>
        <a href="{% url 'aspirant' %}" class="btn btn-info">back</a>
        <h3>{{message}}</h3>
    </form>
</div>
</div>
</div>
</center>
{% endblock %}
</body>
</html>