{% extends "application/base.html" %}
{% block title_block %}
update form
{% endblock %}

{% block body_block %}
<div class="jumbotron">
    <div class="container" align="center">
        <h1>Aspirant Update Form</h1>
            <form class="my-form" method="post">
                <table>
                    {% csrf_token %}
                    {{form.as_table}}
                </table>
                <input type="submit" class="btn btn-primary" name="update">
            </form>
    </div>
</div>
{% endblock %}