{% extends "base.html"%}
{% block title%}
    BATS MAN KOHLI
{% endblock %}
{% block data%}
<p>On 18 December 2006, Kohli experienced the loss of his father due to a cerebral attack.[10][15] 
    During his childhood, his father played a crucial role in supporting his cricket training. 
    Kohli has credited his father as the one who drove him to practice every day. He has expressed his feelings of missing his 
    father's presence at times.[7][16] Following the demise of Kohli's father, his mother observed a significant 
    change in his personality. Kohli appeared to become more mature overnight, and he began taking every cricket match seriously. 
    He harboured an aversion to exclusion from games and appeared to channel his entire existence into the pursuit of cricket 
    following his father's untimely demise.[10] Kohli's family resided in Meera Bagh, Paschim Vihar until the year 2015, 
    after which they relocated to Gurgaon.[17]</p>
<img src="/static/app1/images/kohli.png">
{% endblock %}